# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask Framework
Flask==2.0.1

pydantic==1.8.2

#  requests
requests==2.25.1

# Automated tests
pytest==6.2.4
pytest-cov==2.12.0

