@import '~antd/dist/antd.css';

#components-layout-demo-fixed-sider .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
  }
.site-layout .site-layout-background {
    background: #fff;
}